/** @format */

.form-wrap {
	border: 1px solid #161629;
	padding: 2em;
	display: flex;
	justify-content: center;
}

.form-box {
	background-color: #cc4f3c;
	display: flex;
	min-width: 360px;
	flex-direction: column;
	padding: 2em;
}

input {
	flex-basis: auto;
	flex-shrink: 1;
	border: none;
	border-bottom: 0.5px dotted #171629;
	background-color: transparent;
	outline: none;
	padding: 0 0.5em;
	font-size: 1.1em;
	color: white;
}

::placeholder {
	color: #babdd4;
}

.error-box {
	margin: 2em;
}

.error {
	color: white;
	margin: 0 3em;
}

.sent-message {
	background-color: #cc4f3c;
	padding: 5em 10em;
}

/* RESPONSIVE */
@media only screen and (max-width: 576px) {
	.form-box {
		min-width: 260px;
		padding: 1em;
	}
}
