/** @format */

body {
	width: 100%;
	margin: 0;
	background-color: #171629;
	font-family: "Montserrat", sans-serif;
	font-size: calc(0.9em + 0.4vh);
	color: #171629;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* CONTAINERS */
.container {
	background-color: white;
	display: flex;
	align-items: stretch;
	width: 96%;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
}

aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 140px;
	flex-basis: 10%;
	flex-shrink: 0;
	background-color: #171629;
	padding: 2%;
}

main {
	flex-grow: 1;
	padding: 10vh 10vw 60vh 10vw;
}

header {
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: calc(4vw + 3em);
}

section {
	margin-bottom: calc(4vw + 3em);
}

.cardholder {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-left: -1em;
	margin-right: -1em;
}

.two-column {
	display: flex;
	flex-direction: row;
}

.skills {
	margin-right: 3em;
	padding-top: 2em;
}

/* TEXT */
/* text styles*/
h1,
li a:active {
	font-family: "Syncopate", sans-serif;
}

h2,
h3,
a,
input {
	font-family: "Sen", sans-serif;
}

/* text colors*/
h1,
h2,
h3 {
	color: #170447;
}

a:hover,
a:active,
.emphasize {
	color: #cc4f3c !important;
}

a,
a:visited {
	color: #babdd4;
}

/* general text styling*/
h1 {
	font-size: 3em;
	text-align: right;
}

h2 {
	font-size: 1.1em;
	line-height: 1.3em;
	text-align: left;
	margin-bottom: 1em;
}

h3 {
	font-size: 1em;
	margin-bottom: 0;
}

p {
	font-size: 0.9em;
	font-weight: 500;
	letter-spacing: 0.05em;
	line-height: 1.8em;
	margin-bottom: 1em;
}

ul {
	list-style: none;
	list-style-position: outside;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

li {
	font-size: 0.9em;
	font-weight: 500;
	letter-spacing: 0.05em;
	line-height: 1.8em;
}

a {
	text-decoration: none;
}

/* class text styling*/
.right {
	text-align: right;
}

.emphasize {
	font-weight: 700;
}

.react-icon {
	vertical-align: text-top;
	margin-right: 1em;
}

ul.checklist {
	list-style-type: "\2713";
	margin: 0 1em;
}

ul.checklist li {
	padding-left: 1em;
}

/* RESPONSIVE */
@media only screen and (max-width: 1435px) {
	body {
		background-color: white;
	}

	.container {
		width: 100%;
		margin-top: 0;
	}

	main {
		padding: 6vh 6vw 20vh 6vw;
	}
}

@media only screen and (max-width: 576px) {
	.container {
		flex-direction: column;
	}

	aside {
		position: sticky;
		top: 0;
		z-index: 2;
	}

	.two-column {
		flex-direction: column;
	}
}
