/** @format */

.card {
	display: flex;
	flex-direction: column;
	padding: 1.5em 2em 1em 2em;
	flex-basis: 200px;
	flex-shrink: 0;
	flex-grow: 1;
	margin: 1em;
}

.color {
	background-color: #9c9cb5;
}

.reverse {
	background-color: white;
}

.icon {
	height: 3em;
	margin-bottom: 1em;
	align-self: flex-end;
}

.noicon {
	height: 2em;
}

/* RESPONSIVE */
@media only screen and (max-width: 1366px) {
	.card {
		padding: 1em 1em 0 1em;
		margin: 0.75em;
	}
	.icon {
		height: 2.5em;
		margin-bottom: 0.5em;
	}
}
