.card {
	padding: 1em;
	flex-basis: 300px;
	flex-shrink: 0;
	flex-grow: 1;
	margin: 1em;
}

.color {
	background-color: #7a7b8a;
}
.reverse {
	background-color: white;
}

.icon {
	width: 3em;
}

.noicon {
	height: 3em;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		margin-top: 0;
	}
	/* aside {
		width: 200px;
		transform: translateX(-210px);
		transition: transform 0.3s linear;
	}

	.mobile-menu {
		display: block;
	}

	.card-project {
		flex-shrink: 1;
	} */
}
