/** @format */

nav {
	position: -webkit-sticky;
	position: sticky;
	top: 20vh;
	padding-top: 5%;
	text-align: right;
}

nav ul li {
	font-size: 1em;
	line-height: 1.8em;
}

.active {
	color: #cc4f3c;
	font-family: "Syncopate", sans-serif;
	font-weight: 700;
	font-size: 0.9em;
	line-height: 3em;
}

/* RESPONSIVE */
@media only screen and (max-width: 576px) {
	nav {
		position: static;
		padding-top: 0;
		text-align: right;
		margin-bottom: 0.5em;
	}

	nav ul li {
		display: inline;
		margin-left: 1em;
		font-size: 0.9em;
	}

	.active {
		font-size: 0.8em;
		line-height: 1em;
	}
}
