nav {
	position: -webkit-sticky;
	position: sticky;
	top: 20vh;
	padding-top: 5%;
	text-align: right;
}

nav ul {
	list-style: none;
}

.navlink {
	font-size: 0.9em;
	line-height: 1.5em;
}

.active {
	color: red;
}
