html {
	background-color: #3f3f5a;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: calc(0.7em + 0.6vw);
	color: #161629;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
