html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: 0;
	background-color: #3f3f5a;
	font-family: "Montserrat", sans-serif;
	font-size: calc(0.7em + 0.6vh);
	color: #161629;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
	body {
		background-color: white;
	}
}
